.sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #2D4054;
    position: fixed;
    height: 100%;
    overflow: auto;
    /* overflow: 页面自动滚动 */
}

.sidebar a {
    display: block;
    color: #f3f3f3;
    margin-top: 20px;
    padding: 20px;
    text-decoration: none;
}

.sidebar a:hover {
    color: #00B4CF;
    background-color: #435466;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}


/* media queries: @media screen and (max-width: xxx)
On screens that are less than 700px wide, 
make the sidebar into a topbar */

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

/* On screens that are less than 400px, 
display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}