
html, body { 
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f3f3f3;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 85% 5%;
}

.header {
    text-align: center;
    background-color: white;
}

.footer {
    text-align: center;
    background-color: white;
}

.main-body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.left-container {
    grid-column: 2/4;
    background-color: #2D4054;
}


.right-container {
    grid-column: 4/10;
    background-color: white;
}