/* 字体， sidebar-icon， header图片， ，  */
:root {
  --action--hover:#00B4CF;
  --filter--yellow:#FF9A2A;
  --filter--green:#7FBC39;

  --light-green-blue:#00B4CF;
  --dark-green-blue:#01869A;

  --light-black:#435466;
  --dark-black:#2D4054;

  --light-white:#F3F3F3;
  --dark-white:#E1E4E6;
}

html, body { 
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark-white);
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 85% 5%;
}

.header {
    text-align: center;
    align-items: center;
    display: block;
    background-color: var(--light-white);;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#header-text-big {
  color: var(--light-green-blue); 
  font-size: 50px;
}

#header-text-small {
  color: var(--light-black); 
  font-size: 35px;
}

.dropdown{
  position: relative;
  left: 40%;
  bottom: 50%;
  display: inline-block;
}

.button-user-login{
  height: 40px;
  width: 40px;
  border: 0px;
  background-color: #FF9A2A;
  border-radius: 80%;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


.web-footer {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    align-items: center;
    box-shadow: 8px 8px 16px 0px rgba(1,0,0,0);
    background-color: var(--light-white);;
}

.main-body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 20px;
}

.left-container {
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-column: 2/4;
    position: relative;
    /*疑问：为什么这里需要设置position：relative*/
    background-color: #2D4054;
}

.actions {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    font-size: 24px;
    /*疑问：为什么给了整个section的font-size为24*/
    position: relative;
    text-align: start;
    padding: 20px;
    color: #ccc;
}


.actions-link {
  padding: 0;
  color: white;
  align-self: center;
  text-decoration-line: none;
}

.actions-link:hover{
  color: var(--action--hover);;
}

.icon-dashboard {
  position: relative;
  top: 35%;
  background-size: 20px 20px;
  height: 20px; 
  width: 20px;
}

#actions-dashboard{
  /*  17. - 这里也可以使用grid*/
  display: flex;
}

#actions-dashboard:hover {
  color: var(--action--hover);;
  background-color: #435466;
}

.center-link {
  align-self: center ;
}

#actions-agent{
  display: flex;
}

#actions-agent:hover {
  background-color: #435466;
  color: var(--action--hover);;
}


#actions-mycruise{
  display: flex;
}

#actions-mycruise:hover {
  color: var(--action--hover);;
  background-color: #435466;
}

#actions-help{
  display: flex;
}

#actions-help:hover {
  color: var(--action--hover);;
  background-color: #435466;
}

.histroy {
  display: flex;
  align-items: flex-end;
}

#history-statement {
  font-size: 18;
  color: #999;
}

#title{
  font-size: 24px;
  color: #ccc;
}

.right-container {
    display: grid;
    grid-template-rows: repeat(17, 1fr);
    grid-column: 4/10;
    background-color: var(--dark-white);
    column-gap: 20px;
    row-gap: 20px;
}

.dashboard{
    display: grid;
    grid-row: 1/4;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    background-color: var(--dark-white);;
}

#dashboard-building-block {
  display: flex;
   background-color:#FF9A2A; 
   position: relative;
}

#ddashboard-building-text {
  width: 60px; 
  color: #f3f3f3; 
  font-size: 18px; 
  font: bold; 
  position: relative; 
  left: 20px;
}

#dashboard-building-background {
  height: 144px; 
  width: 144px; 
  opacity: 20%;
}

#dashboadr-building-number {
  color: #f3f3f3; 
  font-size: 48px; 
  position: absolute; 
  right: 10%;
}


#dashboard-idle-block {
  display: flex; 
  background-color:#7FBC39; 
  position: relative;
}

#dashboard-idle-text {
  width: 60px;  
  color: #f3f3f3; 
  font-size: 18px; 
  font: bold; 
  position: relative; 
  left: 20px;
}

#dashboard-idle-background {
  height: 144px; 
  width: 144px; 
  opacity: 20%;
}

#dashboard-idle-number {
  color: #f3f3f3; 
  font-size: 48px; 
  position: absolute; 
  right: 10%;
}


#dashboard-info {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-items: center;
    background-color: var(--light-white);;
}

#table-item {
  font-size: 12px;
}

#table-number {
  font-size: 18px;
}

.filter{
  grid-row: 4/6;
  background-color: var(--light-white);;

}

.filter {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr;
}

.filter-button {
  position: relative;
  background-color: var(--light-white);
  border: 5px;
  border-right: 1px solid var(--dark-white);
}

.filter-button:hover {
  border-bottom: solid var(--light-green-blue);
}

#icon-search {
  background-image: url(search_icon.png);
  background-repeat: no-repeat;
}

.filter-input {
  position: relative;
  top: 30%;
  left: 10%;
  height: 30px;
  border: 0px;
  background-color: rgb(212, 207, 207);
}

#input-background {
  font-family:Arial, FontAwesome;
}

#table-icon {
  position: relative;
  top: 40%;
  left: 60%;
  font-size: 20px;
}

#list-icon {
  position: relative;
  top: 40%;
  left: 65%;
  font-size: 20px;
}

.list-items {
  display: grid;
  grid-row: 6/18;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 10px;
}

.list-item {
  display: grid;
  grid-template-columns: repeat(7,1fr) 7fr;
  grid-column: 1fr;
  background-color: var(--light-white);;
}

.list-item-left {
  font-size: 70px;
  grid-column: 2/3;
  text-align: center;
  align-items: center;
}

.list-item-right {
  display: grid;
  grid-column: 3/9;
  grid-auto-rows: repeat(2, 1fr);
  align-items: center;
}

.rightlist-firstline {
  display: flex;
  text-align: left;
  position: relative;
  left: 30px;
}

#rightlist-firstline-info1 {
  font-size: 14px; 
  color: var(--light-green-blue);
}

#rightlist-firstline-info2 {
  font-size: 14px;
  color: white; 
  background-color:var(--filter--green);
}

#rightlist-firstline-info3 {
  color:var(--dark-black);
}

#secondline-button-delete {
  font-size: 16px
}

.firstline-left {
  flex: 1;

}

.firstline-right {
  flex: 1;
}


.rightlist-secondline {
  display: flex;
  text-align: left;
  position: relative;
  left: 30px;
}


.secondline-left {
  flex: 3;
}

.secondline-right {
  flex: 1;
}



#second-line-delete {
  background-color:var(--dark-white);
  color: var( --dark-black);
}

.button-second-line-plus {
  font-size: 18px;
  color: var(--light-white);
  border: 0px;
  background-color: var(--light-green-blue);
}

.button-second-line-plus:hover {
  font-size: 18px;
  background-color: var(--dark-green-blue);
}


.button-second-line-delete {
  border: 0px;
  font-size: 14px;
  border-color: var(--light-white);
  background-color: var(--dark-white);
  color: var(--dark-black);
}

.button-second-line-delete:hover {
  background-color: rgb(161, 160, 160);
}

.button-second-line-deny{
  position: absolute;
  display: flex; 
  right: 10%;
  bottom: 0px;
  border: 0px;
  font-size: 14px;
  height: 25px;
  width: 70px;
  border-radius:0%;
  text-align: center;
  align-items: center;
  color: var(--light-white);
  background-color: var(--light-green-blue);
}

.button-second-line-deny:hover {
  background-color: var(--dark-green-blue);
}